html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: #fd4556;
}

::-webkit-scrollbar-thumb {
  background-color: #2b2a29;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #fffbf5;
}

header {
  background-color: #111;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  width: 15%;
}

.logo-img {
  width: 100%;
}

.valorant-logo-navbar {
  border-radius: 1rem;
  transition: background-color 0.3s ease;
}

.valorant-logo-navbar:hover {
  cursor: pointer;
}

.valorant-logo-navbar:active {
  background-color: #2b2a29;
}

.toggler-buttons {
  color: #fffbf5;
  background-color: #2b2a29;
  border-radius: 1rem;
  padding: 0.75rem;
  transition: background-color 0.3s ease;
}

.toggler-buttons:hover {
  cursor: pointer;
}

.toggler-buttons:active {
  background-color: #fd4556;
}

.navbar-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #111;
}

.navbar-links.desktop {
  display: none;
}

a {
  color: #fffbf5;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: #2b2a29;
  border-radius: 1rem;
  transition: background-color 0.3s ease;
}

a:active {
  background-color: #fd4556;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

.title-img {
  width: 100%;
}

.video-section {
  margin-bottom: 2rem;
}

.video {
  width: 100%;
}

.description-section {
  margin-bottom: 3rem;
  border-bottom: 2px solid #111;
}

h1 {
  font-family: Montserrat, sans-serif;
  color: #fd4556;
  text-align: center;
}

h2 {
  font-family: Montserrat, sans-serif;
  color: #fd4556;
}

h3 {
  font-family: Montserrat, sans-serif;
  color: #bd3944;
}

h4 {
  margin-top: 0.5rem;
  text-align: center;
}

p {
  color: #53212b;
  line-height: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

footer {
  background-color: #111;
}

.footer-logos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logos .logo-container {
  margin: 0.5rem;
}

.footer p {
  color: #fffbf5;
  font-size: 0.75rem;
}

.notice-description > p {
  text-align: center;
  margin-bottom: 0.5rem;
}

.teen-esrb-description > p {
  line-height: 0;
  margin-bottom: 1rem;
}

.scroll-up-button {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.scroll-up-button.show {
  opacity: 1;
  visibility: visible;
}

.scroll-up-button a {
  display: flex;
  border-radius: 1rem;
  padding: 1rem;
}

.scroll-up-button i {
  color: #fffbf5;
}

.weapon-title {
  margin-bottom: 7rem;
}

.agent-section,
.weapon-section,
.map-section,
.skin-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem;
}

.skin-section {
  position: relative;
  border-bottom: 2px solid #111;
  margin-bottom: 3rem;
}

.agent-img,
.ability-img,
.weapon-img,
.map-splash-img,
.map-layout-img,
.skin-img {
  width: 100%;
}

.weapon-section > h2,
.skin-section > h2 {
  margin-top: 1rem;
}

.skin-section > h2 {
  text-align: center;
}

.abilities {
  display: flex;
  justify-content: space-between;
}

.ability-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2b2a29;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  transition: background-color 0.3s ease;
  border-radius: 1rem;
  width: 24%;
}

.ability-container:hover {
  background-color: #fd4556;
}

.ability-name {
  color: #fffbf5;
  font-size: 0.75rem;
  font-weight: 700;
  text-align: center;
  line-height: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.map-imgs {
  align-items: center;
}

.map-splash-container,
.map-layout-container {
  padding: 0.5rem;
}

.search-form {
  margin: 1rem;
}

#search-bar {
  width: 13rem;
  height: 2.5rem;
  border-radius: 1rem;
  color: black;
  font-family: Roboto, sans-serif;
  padding: 1rem;
  font-weight: 700;
  border: 2px solid #111;
  transition: background-color 0.3s ease;
}

#search-bar:focus {
  background-color: #fd4556;
}

#search-bar::placeholder {
  color: #111;
  text-align: center;
}

.favorites-toggler-buttons {
  border-radius: 0.75rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  position: absolute;
  top: 0;
  right: 0;
}

.favorites-toggler-buttons :hover {
  cursor: pointer;
}

.favorites-off {
  color: #2b2a29;
  transition: color 0.3s ease;
}

.favorites-off:hover {
  color: #fd4556;
}

.favorites-on {
  color: #fd4556;
  transition: color 0.3s ease;
}

.favorites-on:hover {
  color: #2b2a29;
}

.filler {
  height: 100vh;
}

.no-favorites-message {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .logo-container {
    width: 5%;
  }

  .navbar-links.desktop {
    display: flex;
  }

  .navbar-links.mobile,
  .toggler-buttons {
    display: none;
  }

  a:hover {
    cursor: pointer;
    background-color: #fd4556;
  }

  .valorant-logo-navbar:hover {
    cursor: pointer;
    background-color: #2b2a29;
  }

  #search-bar:hover {
    background-color: #fd4556;
  }

  .title-container {
    width: 50%;
  }

  .section.row {
    border-bottom: 2px solid black;
    margin-bottom: 3rem;
  }

  .video-section {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }

  .video-container {
    width: 90%;
  }

  .description-section {
    margin-bottom: 0;
    border-bottom: none;
  }

  .agent-section,
  .weapon-section {
    margin-bottom: 0;
  }

  #skin-section-row,
  #favorite-section-row {
    border-bottom: none;
    margin-bottom: 0;
  }

  .skin-section {
    border-bottom: 2px solid #111;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  .weapon-title {
    margin-bottom: 3rem;
  }

  .skin-name {
    font-size: 1.5rem;
  }

  .container {
    max-width: 60%;
  }

  .column-half {
    width: 50%;
  }
}
